// variables
$black-color: #000;
$white-color: #fff;
$red-color: #cc3c2c;
$green-color: #3f9507;
$color: #4d4d4d;
$app-background: #0079bf;
$header-color: $white-color;
$header-background: #0067a2;
$button-color: $white-color;
$button-background: #0067a2;
$h1-font-size: 20px;
$h2-font-size: 18px;
$h3-font-size: 16px;
$h4-font-size: 14px;
$h5-font-size: 13px;
$site-font-size: 12px;
$width-100: 100%;
$line-height: 15px;
$completed-color: $green-color;
$dev-color: #0067a2;
$moved-color: #1c6bc1;
$footer-background-color: #0067a2;
$dialogue-model-bg-rgb: rgb(0, 0, 0);
$dialogue-model-bg-rgba: rgba(0, 0, 0, .4);
$dialogue-background-color: #fefefe;
$dialogue-border-color: #888;
$dialogue-close-color: #aaa;
$card-background-color: #e2e4e6;
