/* Footer styling: */
footer{
	padding:30px 40px;
	background-color: $footer-background-color;
  color: $white-color;
  position:relative;
  display: flex;
  flex-direction: row;
  h4{
    text-transform: uppercase;
  }
  ul li{
    list-style-type: none;
    line-height: 25px;
    color: #7f8c8d;
    a{
      color: #7f8c8d;
      cursor: pointer;
    }
  }
	.social-icon{
		color: #7f8c8d;
		font-size: 22px;
		ul li{
			list-style-type: none;
			float: left;
			padding-right: 30px;
		}
	}
}
