//Variables
$color: #4d4d4d;
$app-background: #0079BF;
$header-color: #FFF;
$header-background: #0067A2;
$button-color: #FFF;
$button-background: #0067A2;
$h1-font-size:20px;
$h2-font-size:18px;
$h3-font-size:16px;
$h4-font-size:14px;
$h5-font-size:13px;
$site-font-size: 12px;
$width-100:100%;
$line-height:15px;
