* {
  margin: 0;
  padding: 0;
}

header,
footer,
article,
section,
hgroup,
nav,
figure {
  display: block;
}

body {
  background-color: $app-background;
  color: $color;
  font-family: Avenir;
  font-size: $site-font-size;
  width: $width-100;
}

section {
  margin: 20px;
}

h1 {
  @include header-text($h1-font-size, 'bold', '2px');
  padding: 15px;
  text-transform: uppercase;
}

h2 {
  @include header-text($h2-font-size, 'bold', '2px');
  padding: 15px;
  text-transform: uppercase;
}

h3 {
  @include header-text($h3-font-size, 'bold', '2px');
}

h4 {
  @include header-text($h4-font-size, 'bold', '2px');
}

h5 {
  @include header-text($h5-font-size, 'bold', '2px');
}

p {
  line-height: $line-height;
  padding-bottom: .5em;
}

a {
  color: $color;
  outline: none;
  text-decoration: none;

  &:visited {
    font: inherit;
  }

  &:hover {
    text-decoration: underline;
  }
}

small {
  font-weight: normal;
}

.error-msg {
  color: $red-color;
}
